{% extends "catalog/base.html" %}
{% load i18n %}{% autoescape off %}

{% block content %}
    <p>{% blocktranslate %}Вы получили это письмо т.к запросили новый пароль {{ site_name }}.{% endblocktranslate %}</p>
    
    <p>{% translate "Пожалуйте следуйте по ссылке и введите новый пароль:" %}</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">Сброс пароля</a></p>

    <p>{% translate 'Ваш email для входа на сайт:' %} {{ user.get_username }}</p>

    <p>{% translate "Thanks for using our site!" %}</p>
    <p>{% blocktranslate %}The {{ site_name }} {{ site_name }} {% endblocktranslate %}</p>
{% endblock %}
{% endautoescape %}
