{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="card mb-3 col-3">
        <img src="{% mediapath object.preview %}" class="card-img-top" alt="Нет картинки", style="width: 300px; height: 300px;">
    </div>
    <div class="card mb-3 col-9">
        <h3 class="card-title mt-3 mb-3 text-center">{{ object.name }} ({{ object.category }}) </h3>
    
        <p class="card-text mb-5 text-center">{{ object.description }}</p>
        <h5 class="card-text">Цена: {{ object.price }} руб.</h5>
        <h5 class="card-text">Дата создания: {{ object.created_at|date:"d.m.Y H:i:s" }}</h5>
    </div> 
</div>


{% endblock %}