{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    
    <fieldset enable>
        <legend>Изменить товар</legend>
        <form method="post" class="my-class">
            {% csrf_token %}
            {{ form|crispy }}
            {{ formset.management_form }}
            {% for formvers in formset %}
                <hr>
                {{formvers|crispy}}
            {% endfor %}
        </form>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </fieldset>
</form>

{% endblock %}